[Unit]
Description=Monthly Markdown Header Squasher
After=network.target

[Service]
Type=oneshot
User=%u
ExecStart=/usr/bin/fish /home/%u/.local/bin/monthly_squash.fish
